button.secondary, .button.secondary{
    background-color:#e7e7e7;
    border-color:#b9b9b9;
    color:#333;
    
}

button, .button{
    border-style:solid;
    border-width:0px;
    cursor:pointer;
    font-family:"Lato","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight:normal;
    line-height:normal;
    margin:0 0 1.25rem;
    position:relative;
    text-decoration:none;
    text-align:center;
    -webkit-appearance:none;
    -webkit-border-radius:0;
    /*padding-top:1rem;
    padding-right:2rem;
    padding-bottom:1.0625rem;
    padding-left:2rem;*/
    font-size:1rem;
    transition:background-color 300ms ease-out;
}

button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus{
    color:#333;

}

button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus{
    background-color:#b9b9b9;
}

@media only screen and (min-width: 40.063em){
    button, .button{
        display:inline-block;
    }

}